/*настройка контента*/
.project {
  margin-top: 50px;
  //.caveat-brush-regular {
  //  font-family: "Caveat Brush", cursive;
  //  font-style: normal;
  //}
}

#frog {
  margin-top: 10px;
  text-align: center;

}

#frog img {
  cursor: pointer;
  width: auto;
  margin: 0;
}

// Медиа-запрос для устройств с максимальной шириной до 768px (мобильные устройства)
@media (max-width: 768px) {
  .frog img {
    max-width: 50%; // Пример: уменьшить ширину изображения для мобильных устройств
    /* Дополнительные стили для мобильных устройств */
  }
}

// Медиа-запрос для устройств с минимальной шириной 768px (планшеты и десктопы)
@media (min-width: 768px) {
  .frog img {
    max-width: 70%; // Пример: другие размеры для планшетов и десктопов
    /* Дополнительные стили для планшетов и десктопов */
  }
}

/*настройка контента завершена*/